{{>licenseInfo}}
package com.adobe.aco.client;

{{#models}}
    {{#model}}
        import com.adobe.aco.model.{{classname}};
    {{/model}}
{{/models}}

import java.util.List;

public interface Client {
    {{#apiInfo}}
        {{#apis}}
            {{#operations}}
                {{#operation}}
                    /**
                    * {{summary}}
                    {{#notes}}
                        * {{&notes}}
                    {{/notes}}
                    * @param data payload of type {{#allParams}}{{#isBodyParam}}{{{dataType}}}{{/isBodyParam}}{{/allParams}}
                    * @return {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}FeedResponse{{/returnType}} indicating the result of the ingestion.
                    * @throws RuntimeException if the API request fails
                    */
                    {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}FeedResponse{{/returnType}} {{nickname}}({{#allParams}}{{#isBodyParam}}{{{dataType}}} data{{/isBodyParam}}{{/allParams}});
                {{/operation}}
            {{/operations}}
        {{/apis}}
    {{/apiInfo}}
}
