{{>licenseInfo}}

package {{modelPackage}};

public enum Region {
    NA1("na1"),
    EU1("eu1"),
    UK1("uk1");

    private final String value;

    Region(String value) {
    this.value = value;
    }

    public String getValue() {
    return value;
    }
}
